/* global styling - outset */

 @import url(https://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300ita‌​lic,400italic,500,500italic,700,700italic,900italic,900);

* {
  box-sizing: border-box;
}
body {
  font-family: "Roboto", sans-serif;
  background-color: #fafafa;
  overflow-x: hidden;
}

/* global styling - end */

 /* stylization of App.js page - outset */
.container {
  justify-content: center;
}

/* stylization of App.js page - end */

/* stylization of Headerbar.js page - outset */

.headerbar {
    width: 100%;
    height: 54px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #dbdbdb;
    background-color: #ffffff;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 3;
}
  
.headerbartop {
    width: 75%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 22px;
}

.logo {
    display: flex;
    align-items: center;
}

.logoicon {
    margin-left: 0px;
}
  
.logo .logoimage {
    border-left: 1px solid #dbdbdb;
    padding-left: 10px;
    margin-left: 10px;
}

.forresearch {
    width: 215px;
    height: 26px;
    border-radius: 3px;
    border: 1px solid #dbdbdb;
    background-color: #fafafa;    
}

.forresearch::placeholder {
    text-align: center;
}

.iconbox {
    display: flex;
    align-items: center;
}
  
.iconbox ion-icon {
    margin-left: 20px;
}

/* stylization of Headerbar.js page - end */  

/* stylization of Stories.js page - outset */  

.storiesbar {
    height: 118px;
    display: flex;
    align-items: center;
    border-radius: 3px;
    border: 1px solid #e5e5e5;
    background-color: #ffffff;
    overflow: hidden;
    position: relative;
}

.arrow {
   
    color: #8e8e8e;
    font-size: 25px;
    background-color: white;
    position: absolute;
    right: 10px;
    z-index: 3;
}

.uniquestory {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 14px;
    max-width: 66px;
}

.uniquestory:nth-child(1) {
    margin-left: 23px;
}  

.story {
    width: 66px;
    height: 66px;
    position: relative;
}

.story .pinkborder {
    position: absolute;
    width: 66px;
}
  
.story .storyimage {
    width: 56px;
    height: 56px;
    border-radius: 28px;
    left: 5px;
    top: 5px;
    position: absolute;
}

/* stylization of Headerbar.js page - end */  

/* stylization of Pageorganization.js page - outset */  
.themiddlepart {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

.centralpartcontent {
    width: 614px;
    margin-top: 33px;
}

/* stylization of Pageorganization.js page - end */   

/* stylization of Publications.js page - outset */   
  
.postsbox {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.post {
    width: 614px;
    margin-bottom: 60px;
    border: 1px solid #dbdbdb;
    border-radius: 3px;
    background-color: #ffffff;
}

.post:nth-child(1){
    margin-top: 33px;
}

.post:nth-child(3){
    margin-bottom: -40px;
}

.postoutset {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 17px 13px 17px;
}

.postoutset img {
    width: 32px;
    margin-right: 25px;
    border-radius:20px;
}
  
.theuser {
    display: flex;
    align-items: center;
}

.theimage {
    position: relative;
}

.theimage img{
    width: 612px;
}

.likesbox{
    padding: 10px;
}

.biglikesbox{
    width: 100%;
}

.likesboxtwo{
    margin-bottom: 3%;
    margin-left: 10px;
}

.likesboxtwo ion-icon {
    margin-right: 10px;
    cursor: pointer;
}

.likesboxthree{
    display: flex;
    justify-content: end;
    margin-left: 90%;
    margin-top: -3%;
}
  
.likesconfig {
    width: 100%;
    display: flex;
    align-items: center;
    padding: 0px 10px 10px 10px;
}

.likesconfig img{
    width: 20px;
    height: 20px;
    border-radius: 10px;
    margin-right: 10px;
}

.red ion-icon {
    color: red;
  }
  
  
.post-heart {
   position: absolute;
   left: calc(50% - 100px);
   top: calc(50% - 100px);
}
  
.post-heart ion-icon {
   color: white;
   scale: 0.2;
   visibility: hidden;
   font-size: 200px;
}
  
.post-heart.icon-show ion-icon {
   scale: 1;
   visibility: visible;
   transition: scale 250ms linear;
}

/* stylization of Publications.js page - end */  

/* stylization of Sidebar.js page - outset */ 

.sidebar {
    width: 293px;
    margin-top: 66px;
    margin-left: 28px;
    height: fit-content;
  }
/* stylization of Sidebar.js page - end */  