/* global styling - outset */

 @import url(https://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300ita‌​lic,400italic,500,500italic,700,700italic,900italic,900);

* {
  box-sizing: border-box;
}
body {
  font-family: "Roboto", sans-serif;
  background-color: #fafafa;
  overflow-x: hidden;
}

 /* stylization of App.js page - outset */
.container {
  justify-content: center;
}

/* stylization of App.js page - end */

/* global styling - end */